#bio {
    padding-top: 60px; }
    #bio img {
      border-radius: 20px; }
    #bio p {
      font-size: 20px; }
    #bio nav {
      padding-top: 10px; }
      #bio nav a {
        font-size: 16px;
        padding: 0px 10px; }
  
  .main_content .col-md-4 a {
    padding-right: 10px; }